.cover-image {
background-image: url("data/img/shinedotted.png");
background-repeat: repeat-x repeat-y;
}


.logo {
	font-family: 'Sofia', cursive;
	position: relative;
	color: white;
	font-size: 10em;
	text-align: center;
	text-shadow: 1px 1px 12px black;
	margin-bottom: -60px;
}

.titre {
	font-family: 'Passion One', cursive;
	font-weight: 700;
	font-size: 5.0em;
	letter-spacing: 3px;
	margin: 0 0 50 0;
	text-align: center;
	color: #FF3100;
	text-shadow: 1px 1px 12px black;
}


p {
	font-family: "Roboto",sans-serif
	color: grey;
	font-weight: 400;
	font-size: 1.3em;
	line-height: 1.2em;
	margin-top: 0;
	text-align: center;
	text-transform: uppercase;
}

#fond-du-winner {
	width:450px;
	height:130px;
	margin:auto;
	background: rgb(155,155,155); /* Old browsers */
	background: rgb(161,148,80); /* Old browsers */
	background: -webkit-linear-gradient(bottom left, rgb(161,148,80) 0%, rgb(249,239,199) 100%);
	background: -o-linear-gradient(bottom left, rgb(161,148,80) 0%, rgb(249,239,199) 100%);
	background: linear-gradient(to top right, rgb(161,148,80) 0%, rgb(249,239,199) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a19450', endColorstr='#f9efc7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */; /* IE6-9 fallback on horizontal gradient */;
	margin-bottom: 70px;
	border-radius: 5px;
	border: 8px #C18A30 solid;
	box-shadow: 0px 0px 50px black;
}

#resultat {
	font-family: 'Passion One', cursive;
	font-weight: 700;
	letter-spacing: 3px;
	font-size: 6.8em;
	color: #C18A30;
	text-align: center;
	padding-top: 7px;
	text-shadow: 0px 0px 30px #2B2623;
	line-height: 70px;
	height: 120px;
	border: 0px;
	background-color: none;

}

.banque {
	margin-top: 60px;
  	margin: auto;
	width: 360px;
	text-transform: uppercase;
}

.badge {
	background-color: #FF3000;
}


.btn {
	width: 450px;
	height: 70px;
  	margin-right: auto;
  	margin-left: auto;
  	margin-bottom: 80px;
  	box-shadow: 0px 0px 20px black;
  	border-radius: 10px;
  	font-size: 2em;
  	letter-spacing: 3px;
}

.fond-blanc {
	background-color: rgba(255, 48, 0, 0.4);
  	margin: auto;
	margin-bottom: -20px;
	padding: 20px 20px 0px 20px;
	height: 110px;
	box-shadow: 0px 0px 50px black;
	border-radius: 5px;
}



.table {
	padding: 5 5 5 5;
	background-color: white;
	border-radius: 3px;
	margin: auto;
	font-size: 1.1em;
}

















